@import '~@paquette/ui/styles/index';

$topbar-background-color: white;

// ------- Auth -------
// Container
$auth-container-width: 20rem !default;
$auth-container-padding-top: 2.5rem !default;

// Card
$auth-card-section-padding: 1.25rem !default;