@import "./variables";
@import '~@paquette/ui/styles/index';

#authentication {
  .container {
    padding-top: $auth-container-padding-top;
    max-width: $auth-container-width;
  }

  .paquette-wordmark {
    margin: 0 auto 1.25rem;
    width: 100%;
  }

  .card {

    &-section {
      padding: $auth-card-section-padding;

      .avatar {
        border-radius: 3rem;
        position: absolute;
        overflow: hidden;
        padding: 2px;
        background-color: $white;
        border: 1px solid $border-color;
        margin: 0;
        top: -1.5rem;
        right: 50%;
        margin-right: -1.5rem;

        opacity: 0;
        transform: translateY(1.25rem);
        transition: 150ms;

        &.open {
          opacity: 1;
          transform: none;
        }

        svg {
          border-radius: 3rem;
        }
      }
    }
  }

  .btn {
    display: block;
    width: 100%;
  }

  .links {
    text-align: center;
    padding-top: $gutter;
    width: 100%;
  }
}