// ------- Amethyst Connections -------
// Index
$amethyst-connections-index-padding-top: $gutter !default;

// Create
$amethyst-connections-create-padding-top: $gutter !default;
$amethyst-connections-create-grid-columns-lg: 3 !default;
$amethyst-connections-create-grid-columns-md: 3 !default;
$amethyst-connections-create-grid-columns-sm: 2 !default;
$amethyst-connections-create-grid-columns-xs: 1 !default;
$amethyst-connections-create-grid-gap: $gutter !default;